body {
    font-size: 14px;
    font-family: Viga;
    background: rgb(32, 32, 32);
}

.logo img{
    width: 100px;
    height: 100px;
 }
 
 nav ul {
   display: flex;
   list-style: none;
   align-items: center;
 }
 
 nav ul li {
   color: #fff;
   margin-right: 1.5rem;
   cursor: pointer;
 }
 
 nav ul li a {
   padding: 15px 15px;
   text-decoration: none;
   color: #fff;
   cursor: pointer;
 }
 
 nav ul li:hover {
   transform: translateY(-5px);
   transition: all 0.2s;
   font-weight: bold;
 }
 
 .header-inner-content {
   max-width: 1300px;
   max-height: 100px;
 }
 
 .navbar {
   background-color: rgb(48, 48, 48);
   position: sticky;
   top: 0;
   z-index: 99;
 }
 
 .navbar > div {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
 }
 
 nav ul {
   display: flex;
   list-style: none;
   align-items: center;
 }
 
 nav ul li {
   color: #fff;
   margin-right: 1.5rem;
   cursor: pointer;
   font-size: 24px;
 }
 
 nav ul li a {
   text-decoration: none;
   color: #fff;
   cursor: pointer;
 
 }
 
 nav ul li:hover {
   transform: translateY(-5px);
   transition: all 0.2s;
   font-weight: bold;
 }

#titulo {
    font-family: Viga;
    color: #ffffff;
    margin-left: 5%;
} 

#subtitulo {
    font-family: Viga;
    color: rgb(13, 0, 255);
    margin-left: 10%;
} 

#check{
    display: inline-block;
}

fieldset {
    border: 0;
}
input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(13, 0, 255);
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: rgb(255, 255, 255);
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid rgb(13, 0, 255);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

.botao {
    font-size: 1.2em;
    background: rgb(13, 0, 255);
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    position: absolute;
    top: 58%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botao:hover {
    background: rgb(13, 0, 255);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

.HOM {
    font-size: 1.2em;
    background: rgb(13, 0, 255);
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.btn:hover{
    color: #ffffff;
    transition: 0.3s all;
}
#titulo {
    font-family: sans-serif;
    color: #ffffff;
    margin-left: 5%;
} 

#subtitulo {
    font-family: sans-serif;
    color: rgb(13, 0, 255);
    margin-left: 10%;
} 

#check{
    display: inline-block;
}

fieldset {
    border: 0;
}

.body-form{
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(13, 0, 255);
    margin-left: 36%;
    margin-top: -3%;
    justify-content: center;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(13, 0, 255);
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}

.grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    color: rgb(255, 255, 255);
    display: block;
}

fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid rgb(13, 0, 255);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
}

.botao {
    font-size: 1.2em;
    background: rgb(13, 0, 255);
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    position: absolute;
    top: 58%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.HOM {
    font-size: 1.2em;
    background: rgb(13, 0, 255);
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    position: absolute;
    top: 65%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
input[
    type=email ]{
        padding: 0.2em;
    border: 1px solid rgb(13, 0, 255);
    box-shadow: 1px 1px 1px rgb(13, 0, 255);
    
        width: 415px;
        margin-bottom: 1.2em;
    display: block;
    color: rgb(13, 0, 255);
    }

    .email{
        color: #ffffff;
    }
    
    .pix{
        font-family: sans-serif;
    color: #ffffff;
    margin-left: -5%;
    }
    .qrcode {
        margin-left: 15%;
    }

    .Cbarra{
        margin-left: -9%;
        
    }
    .texto01
    {
        margin-left: 10%;
    }

    .hidden
    {
        display: none;
    }
  
    .third {
        border-color: #375af5;
        color: #fff;
        box-shadow: 0 0 40px 40px #375af5 inset, 0 0 0 0 #db3434;
        -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
        height:60px;
        width:150px;
        margin-left: 12%;
        margin-right: 10%;
      }

