body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: Viga;
	background: rgb(32, 32, 32);
  }


/* Nav */
.logo img{
	width: 100px;
	height: 100px;
}

nav ul {
 display: flex;
 list-style: none;
 align-items: center;
}

nav ul li {
 color: #fff;
 margin-right: 1.5rem;
 cursor: pointer;
}

nav ul li a {
 padding: 15px 15px;
 text-decoration: none;
 color: #fff;
 cursor: pointer;
}

nav ul li:hover {
 transform: translateY(-5px);
 transition: all 0.2s;
 font-weight: bold;
}

.header-inner-content {
 max-width: 1300px;
 max-height: 100px;
 margin-left: auto;
 margin-right: auto;
}

.navbar {
 background-color: rgb(48, 48, 48);
 position: sticky;
 top: 0;
 z-index: 99;
}

.navbar > div {
 display: flex;
 align-items: center;
 justify-content: space-between;
 position: relative;
}

nav ul {
 display: flex;
 list-style: none;
 align-items: center;
}

.nav-icons {
 display: flex;
 align-items: center;
}

.cadastro{
 text-decoration: none;
 cursor: pointer;
 color: #fff;
 margin-left: 1.5rem;
 font-size: 24px;
}

.cadastro:hover {
 transform: translateY(-5px);
 transition: all 0.2s;
 font-weight: bold;
}

nav ul li {
 color: #fff;
 margin-right: 1.5rem;
 cursor: pointer;
 font-size: 24px;
}

nav ul li a {
 text-decoration: none;
 color: #fff;
 cursor: pointer;

}

nav ul li:hover {
 transform: translateY(-5px);
 transition: all 0.2s;
 font-weight: bold;
}

/* Medias Queries */
@media (max-width: 800px) {
  .logo {
    font-size: 1.2rem;
  }

  .menu-button {
    display: block;
  }

  .header-bottom-side {
    flex-direction: column;
    text-align: center;
    padding-top: 4rem;
  }

  nav {
    position: absolute;
    background-color: #2c2c2c4d;
    width: 100%;
    top: 46px;
    display: none;
  }

  .show-menu nav {
    display: block;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    text-align: center;
    padding: 0.8rem;
  }
}

/* Nav */

/* Main */

.gray-background {
  background-color: #2c2c2c;
}

.page-inner-content {
  align-items: center;
  text-align: center;
  margin: 150px;
  margin-bottom: 0;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.container{
  width: 1200px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 100px;
  text-align: center;
  margin: auto auto;
}

.card{
  padding: 45px;
  width: 300px;
  background-color: white;
  margin: 20px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
  text-align: center;
  height: 500px;
  align-items: center;
}

.card img{
  transition: 0.5s;
  text-align: center;
  border-radius: 30px;
  background-color: white;
}

.card h1{
  font-size: 2rem;
  height: 50px;
}

.card ::content{
  padding: 20px;
  text-align: center;
}

.card .content p{
  color: #666;
  transition: 0.5s;
}

.content a{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(31, 46, 215, 0.845);
  color: white;
  border-radius: 40px;
  text-decoration: none;
  transition: 0.5s;
  outline: none;
  margin-top: 20px;
  text-align: center;
}

.card:hover{
  background-color: white;
  color: rgb(97, 96, 96);
  margin-top: 30px;
  box-shadow: 2px 20px 25px rgb(10, 32, 45);
  border-color: rgb(30, 14, 207);
}

.card:hover img{
  background: white;
}

.card:hover .content p{
  color: black;
}

.card:hover .content a{
  color: white;
}

.container {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}


main h2{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

main h3{
  color: rgb(81, 81, 81);
  font-size: 30px;
  height: 50px;
  width: 900px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.cols {
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  padding: 4rem 1rem;
}

.cols-4 {
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.card img {
  max-width: 150px;
}

.section-title {
  color: #fff;
  text-align: center;
  margin-top: 4rem;
  font-size: 1.8rem;
}

.subtitle-underline {
  text-decoration: none;
  background: #2d02ea;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  padding: 0.8rem 3.8rem;
  border-radius: 9999px;
  font-weight: 900px;
}

/* Main */

/* Footer */

.footer-content {
  display: flex;
  align-items: center;
  color: #8f8f8f;
  padding: 1rem 1rem;
  gap: -2rem;
}

.download-options > * {
  margin: 1rem 0;
}

.download-options > p:first-child {
  font-weight: bold;
  color: #fff;
}

.download-options > div {
  display: flex;
}

.download-options > div img {
  width: 180px;
}

.logo-footer > img{
  align-items: center;
  place-content: center;
  text-align: center;
  width: 100px;
  height: 100px;
}

.links-footer h3 {
  color: #2d02ea;
  margin-bottom: 0.8rem;
  margin: 5px;
  padding: 5px;
  font-size: 24px;
}

.links-footer ul {
  list-style: none;
}

.links-footer ul li {
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: white;
  margin: 5px;
  padding: 5px;
  font-size: 24px;
}

.links-footer ul li img {
  width: 30px;
  height: 30px;
}

/* Media Queries */
@media (max-width: 800px) {
  .footer-content {
    display: inline;
    font-size: 0.8rem;
  }

  .footer-content > div {
    padding: 1rem;
  }

  .download-options > div {
    display: inline;
  }

  .download-options > div img {
    width: 120px;
  }
}
/* Footer */

